@use "./abstracts/mixins.scss" as *;

.cta-form-pacing {
  display: flex;
  gap: 1rem;
  border: none;
}

.image-radio-option {
  cursor: pointer;
  display: flex;
  position: relative;
  input {
    &[type="radio"],
    &[type="checkbox"] {
      ~ img {
        transition: transform 0.2s ease-in-out;
      }
      &:checked {
        ~ img {
          border: 3px solid #007bff;
          box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
        }
      }
      &:hover {
        ~ img {
          transform: translateY(-2px);
        }
      }
    }
  }
}

.navbar-button {
  @include navbar-button;
}

.navbar-link {
  margin: 0 1rem;
  &.navbar-button {
    @include navbar-button;
  }
}

.option-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.option-figure {
  &:has(.option-figure-img) {
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) all 0.2s;
    cursor: pointer;
    &:hover,
    &:focus,
    &:focus-within {
      transform: translateY(-2%) rotateZ(1deg) scale(1.015);
      filter: brightness(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

.form-check-input.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.result-display {
  margin-bottom: 1rem !important;
}

[id$="Form"] {
  border: none;
}

#mainStyleForm {
  border: none;
}
